
  Many styles lovingly borrowed from: http://nkd.cc/css/i.css
*/
/* ==========================================================================
   VARIABLES

   - Breakpoints
      - Desktop
      - Tablet
   - Type Scale
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/**
 *
 * There are two breakpoints located in /_sass/_queries.scss
 * One for tablets, and one for desktops. NKD is mobile first.
 * This sets the range for those breakpoints.
 * Queries are meant to be extended as needed.
 *
 */
/* Large Breakpoint */
/* Medium Breakpoint */
/* Type Scale - I always need a type-scale
   ========================================================================== */
/* ==========================================================================
   QUERIES

   Mobile first media queries

   - not-small
   - medium
   - large
   ========================================================================== */
/**
 * These queries are constructed to be for mobile first css.
 * You should write all styles for mobile and override things
 * at larger breakpoints where needed.
 *
 * You can use this query inside or outside of a class like so
 * @include breakpoint(medium) {
 *    .someclass { color: #ee4466; }
 * }
 *
 * or
 *
 * .someclass {
 *    @include breakpoint(large) {
 *      .someclass { color: #ffcc33; }
 *    }
 * }
 *
 * It's rather lovely.
 *
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn, em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   GRID
   ========================================================================== */
/*
  I use different grid systems depending on my needs, so nkd doesn't assume
  anything here.
*/
.m-0 {
  margin: 0; }

.mr-0 {
  margin-right: 0; }

.ml-0 {
  margin-left: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p-0 {
  padding: 0; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.m-1 {
  margin: 10px; }

.mr-1 {
  margin-right: 10px; }

.ml-1 {
  margin-left: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.m-2 {
  margin: 20px; }

.mr-2 {
  margin-right: 20px; }

.ml-2 {
  margin-left: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.m-4 {
  margin: 40px; }

.mr-4 {
  margin-right: 40px; }

.ml-4 {
  margin-left: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.p-1 {
  padding: 10px; }

.pr-1 {
  padding-right: 10px; }

.pl-1 {
  padding-left: 10px; }

.pt-1 {
  padding-top: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.p-2 {
  padding: 20px; }

.pr-2 {
  padding-right: 20px; }

.pl-2 {
  padding-left: 20px; }

.pt-2 {
  padding-top: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.p-4 {
  padding: 40px; }

.pr-4 {
  padding-right: 40px; }

.pl-4 {
  padding-left: 40px; }

.pt-4 {
  padding-top: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.p-6 {
  padding: 60px; }

.pr-6 {
  padding-right: 60px; }

.pl-6 {
  padding-left: 60px; }

.pt-6 {
  padding-top: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.p-8 {
  padding: 80px; }

.pr-8 {
  padding-right: 80px; }

.pl-8 {
  padding-left: 80px; }

.pt-8 {
  padding-top: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.h-100 {
  height: 100%; }

/* ==========================================================================
   TYPE

   - Fonts
   - Headers
   - Copy

   ========================================================================== */

body {
  font-family: helvetica, arial, sans-serif; }

.serif {
  font-family: georgia, serif; }

.sans-serif {
  font-family: helvetica, arial, sans-serif; }

h1 {
  font-family: helvetica, arial, sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif; }

/* Headers
   ========================================================================== */

.h1 {
  font-size: 100px; 
}

.h2 {
  font-size: 64px; }

.h3 {
  font-size: 32px; }

.h4 {
  font-size: 20px; }

.h5 {
  font-size: 16px; }

.h6 {
  font-size: 12px; }

.mega {
  font-size: 256px; }

.bold-italic {
  font-style: italic;
  font-weight: 900; }

/* Copy
   ========================================================================== */
.intro {
  font-size: 32px; }

.copy {
  font-size: 20px; }

p {
  font-size: 20px;
  line-height: 1.5; }

.caps {
  text-transform: uppercase; }

.ct {
  text-align: center; }

/* Casing
   ========================================================================== */
.caps-lock {
  text-transform: uppercase; }

.title-casing {
  text-transform: capitalize; }

/* Tracking
   ========================================================================== */
.title {
  letter-spacing: 0.15em;
  text-transform: uppercase; }

/* Alignment
   ========================================================================== */
.ar {
  text-align: right; }

.al {
  text-align: left; }

.ac, .ct {
  text-align: center; }

/* Wrapping
   ========================================================================== */
.nw {
  white-space: nowrap; }

/* Leading
   ========================================================================== */
.lh-1 {
  line-height: 1; }

.lh-2 {
  line-height: 2; }

.lh-title {
  line-height: 1.3; }

.lh-copy {
  line-height: 1.6; }

/* ==========================================================================
   SITE STYLES
   ========================================================================== */
/**
 * Add your site styles here. Break things out to additional partials if you'd like
 * and add them in import.scss
 */
body, html {
  height: 100%;
  position: relative;
  font-size: 20px;
  margin: 0;
  padding: 0; }

/*.bt {
  border-top: 1px solid #ddd; }

.bg-dk {
  background: #111;
  color: #f3f3f3; }

.bg-li {
  color: #a2d7e4;
  background: #1e5a69;
  -webkit-transition: background 0.4s;
  transition: background 0.4s; }

.shade {
  background: rgba(0, 0, 0, 0.3); }*/

/*.un-saturate {
  -webkit-filter:grayscale(1);
}*/
/*.banner-img {
  background: url(//davecancode.com/blog/images/earth.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover; }*/

a, .tl, .tl:link, .tl:visited, .tl:hover, .tl:active, .tl:focus {
  text-decoration: underline;
  color: #000; }

a:hover {
  background: #a2d7e4;
  color: #1e5a69; }

/*a.dk-bg {
  background: none;
  color: #ddd; }*/

.column {
  max-width: 640px;
  margin: 0 auto; }

/*.opacity-hover {
  -webkit-transition: opacity 0.4s;
  opacity: 1; }

.opacity-hover:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.4s; }*/

ol {
 list-style-position: inside;
}

ul {
 list-style-type: square;
 list-style-position: inside;
 list-style-image: none;
}

hr {
  background: #000000;
  border-style: solid;
}

hr.fat {
  height: 5px;
}

hr.thin {
  height: 1px;
}

@media screen and (min-width: 1024px) {
.h1 {
  font-size: 256px; }

.h2 {
  font-size: 128px; }

.h3 {
  font-size: 64px; }

.h4 {
  font-size: 32px; }

.h5 {
  font-size: 20px; }

.h6 {
  font-size: 16px; }

.mega {
  font-size: 512px; }
}

/* b.scss bottom 2015.01.08-15.01.33 