/* Opium Agency Template
    Document   : layout.css
    Created on : September, 2012
    Author     : Kobus Swartz - info@kobusswartz.co.za
    Description: Main style sheet for the Agency Temaplate
------------------------------------------------------------------------------------------------------------------
All sections are marked to make it easier to navigate and change the css.


*/


body {
	font-family: Helvetica, sans-serif;
	color: #272323;
	font-size: 13px;  

}
/* ------- DEFAULT STYLES ------- */

#up {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
	background: url("../img/up.png") no-repeat;
}

.splitter {
	background: url("../img/shadow.png") repeat-x;
	height: 9px;
}
/* ------- CONTAINER DEFAULT STYLES ------- */
#container .inner {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
	text-align: left;
	margin-bottom: 80px;
	margin-top: 18px;
}

#container #feature .inner {
	margin-top: 0;
		padding-top: 0;
}

#container .inner h1 {
	text-align: center;
	font-size: 30px;
	margin: 0 0 16px 0;
	background: url("../img/splitter.png") 0 46px repeat-x;
	padding: 0 0 25px 0;
}

#container .inner h1 span {
	color: #b3b3b3;
}

#container p.inner-intro {
	color: #a6a6a6;
	font-size: 16px;
	text-align: center;
	width: 750px;
	position: relative;
	margin: 0 auto;
	padding:  0 0 20px 0;
}

#container #contact p.inner-intro {
	color: #a6a6a6;
	font-size: 16px;
	text-align: center;
	width: 950px;
	position: relative;
	margin: 0 auto;
}

h2 {
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* ------- LINK STYLES ------- */
a:link {
	text-decoration: none;
	color: #ad1414;
}

a:active {
	text-decoration: none;
	color: #ad1414;
}

a:hover {
	text-decoration: none;
	color: #780e0e;
}

a:visited {
	text-decoration: none;
	color: #ad1414;
}

/* ------- HEADER STYLES ------- */

#header {
	margin-top: 20px;
	
	overflow: hidden;
}

#header .inner {
	border-bottom: 15px solid #e5e5e5;
	padding-bottom: 30px;
}

#header .logo {
	text-indent: -1000px;
	background: url("../img/logo.png") no-repeat;
	width: 230px;
	height: 133px;
	float: left;
}

#header .logo h1 {
	background: none;
}

#header .inner {
	margin: 0 auto 0 auto;
}

#header .menu {
	float: right;
	width: 70px;
	font-size: 14px;
}

#header .menu ul li {
	margin-bottom: 3px;
}

#header .menu ul li a {
	font-weight: bold;
	color: #2c2828;
	padding-bottom: 10px;
}

#header .menu ul li a:hover {
	font-weight: bold;
	color: #c9012b;
	padding-bottom: 10px;
}

#header .menu ul li a em {
	font-style: normal;
	color: #919191;
}

/* ------- SLIDER/FEATURE STYLES ------- */

#feature {
	text-align: center;
}

#feature .inner {
	margin-bottom: 0;
}

#feature .intro {
	background: url("../img/dots.png") 0 21px no-repeat;
	position: relative;
	margin: 0 auto;
	width: 750px;
	padding: 1px;
}

#feature .intro p {
	margin-bottom: 30px;
	color: #888;
}

#feature .intro h1.omega {
	font-size: 72px;
	margin: 88px 0 57px 0;
	line-height: 72px;
	background: none;
}

#feature p {
	font-size: 18px;
	text-align: center;
}

#display {

}

#display .inner {
	background: url("../img/slider-bg.png") no-repeat;
	height: 418px;
	margin-top: 50px;
}

#slider {
	position: relative;
	margin: 0 auto;
	width: 680px;
	margin-top: 38px;
}

.theme-default #slider {
    margin: 0 auto;
    width: 680px; /* Make sure your images are the same size */
    height: 383px; /* Make sure your images are the same size */
    margin-top: 37px;
}

/* ------- ABOUT STYLES ------- */

#about p {
	text-align: left;
}

#about h2 {
	margin: 0;
}

#about ul.features {
	overflow: hidden;
	margin: 34px 0 36px 0;
}

#about ul.features li img {
	margin-bottom: 15px;
}

#about ul.features li {
	float: left;
	width: 230px;
	text-align: center;
	margin-right: 20px;
}

#about ul.features li.last {
	margin-right: 0;
} 

#about ul.features li p {
	text-align: center;
	margin: 0;
	color: #888;
	padding-top: 4px;
}

#about .divide {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
}

.big-text, .extra-feature {
	float: left;
	width: 485px;
}

.extra-features {
	overflow: hidden;
}

ul.extra-features {
	overflow: hidden;
	color: #888;
}

ul.extra-features li {
	overflow: hidden;
	margin-bottom: 20px;
}

ul.extra-features li img {
	float: left;
	width: 62px;
	margin-right: 25px;
}

ul.extra-features li p {
	float: left;
	width: 390px;
	display: block;
}

ul.extra-features {
	
}

.big-text {
	margin-right: 30px;
	font-size: 63px;
	font-weight: bold;
	line-height: 77px;
}

/* ------- PROJECT STYLES ------- */

ul#filter { 
	float: left; 
	font-size: 13px; 
	list-style: none; 
	padding: 15px 20px 0 20px; 
	width: 1000px; 
	background: #222;
	height: 30px;
	margin-bottom: 20px;
	margin: 20px 0 20px 0;
	color: #fff;
}

ul#filter li { 
	float: left;
	line-height: 16px;
	margin-right: 10px;
	padding-right: 10px;
}

ul#filter li span {

}

ul#filter li:last-child { 
	border-right: none; 
	margin-right: 0; 
	padding-right: 0; 
}

ul#filter a { 
	color: #fff; 
	text-decoration: none;
	padding: 7px;
}

ul#filter li.current a, ul#filter a:hover { 
	text-decoration: none;
	color: #fff;
}

ul#filter li.current a { 
	color: #fff; 
	background: #ad1414;
	padding: 7px;
	line-height: 14px;
}
ul#main-nav li.current a:hover {
	color: #c9012b;
}

ul#main-nav li.current a { 
	color: #ad1414; 
}

ul#portfolio { 
	list-style: none; 
	margin: 0;
	padding: 0; 
}

ul#portfolio li { 
	background: #f2f2f2;
	float: left; 
	margin: 10px;
	width: 230px;
	text-align: center;
	border-bottom: 2px solid #d6d6d6;
	position: relative;
}

ul#portfolio li .type-image {
	position: absolute;
	top: 179px;
	left: 97px;
	background: url("../img/type-camera.png") no-repeat;
	height: 41px;
	width: 41px;
	z-index: 1000;
}

ul#portfolio li .type-video {
	position: absolute;
	top: 179px;
	left: 97px;
	background: url("../img/type-video.png") no-repeat;
	height: 41px;
	width: 41px;
	z-index: 1000;
}

ul#portfolio li p {
	font-weight: bold;
	text-align: center;
	padding: 20px 0 20px 0;
	margin-top: 10px;
}

ul#portfolio li p span {
	font-weight: normal;
	display: block;
	color: #999;
}

ul#portfolio a { 
	display: block; 
	width: 100%; 
}

ul#portfolio a:hover { 
	text-decoration: none;
}

ul#portfolio img {  
	padding-bottom: 5px;
}

ul#portfolio img:hover {  
	opacity: 0.8;
	width: 230px;
}

/* ------- TEAM STYLES ------- */

#team ul#team-members li h3 {
	font-size: 16px;
	margin-top: 10px;
	margin: 10px 0 5px 0;
	line-height: 20px;
}

#team ul#team-members li h3 span {
	color: #888;
}

#team ul#team-members p {
	text-align: center;
	margin-bottom: 15px;
	color: #888;
}

#team ul#team-members li {
	float: left;
	width: 225px;
	margin-right: 30px;
	text-align: center;
}

#team ul#team-members li.last {
	margin-right: 0;
}

#team ul#team-members ul.socials{
	width: 150px;
	margin-left: 55px;
}

#team ul#team-members ul.socials li {
	float: left;
	width: 35px;
	margin-right: 10px;
	text-align: center;
}

#team .right-intro{
	float: left;
	width: 485px;
	color: #888;
	margin: 40px 0 0 0;
}

#team .left-intro {
	float: left;
	width: 485px;
	font-size: 30px;
	font-weight: bold;
	line-height: 37px;
	margin: 40px 30px 0 0;
}

/* ------- BLOG STYLES ------- */

#agency-news ul#news li {
	float: left;
	width: 290px;
	margin: 0 60px 35px 0;
	border-bottom: 7px solid #d4d3d3;
	padding-bottom: 10px;
}

#agency-news ul#news li.last {
	margin-right: 0;
}

#agency-news ul#news li h2 {
	font-size: 30px;
	line-height: 35px;
	margin: 0 0 4px 0;
}

#agency-news ul#news li p.date {
	font-size: 16px;
	color: #615f5f;
	margin-bottom: 11px;
}

#agency-news ul#news li p.excerpt {
	color: #888;
	margin-bottom: 15px;
}

/* ------- CONTACT STYLES ------- */

#contact .details {
	float: left;
	width: 480px;
	margin: 30px 0 30px 0;
	color: #888;
}

#contact .details strong {
	color: #666;
}

#contact .form {
	float: left;
	width: 480px;
	margin: 30px 40px 30px 0;
}

#contact .form input {
	width: 445px;
	background: #f1f1f1;
	border: 1px solid #dbdbdb;
	color: #aaa;
	margin-bottom: 10px;
	padding: 10px;
}

#contact .form textarea {
	width: 445px;
	background: #f1f1f1;
	border: 1px solid #dbdbdb;
	color: #aaa;
	margin-bottom: 10px;
	padding: 10px;
	height: 136px;
}

#contact ul#contact-details {
	margin-bottom: 15px;
}

#contact ul#contact-details strong {
	margin: 0 15px 0 0;
}

#contact p {
	margin-bottom: 15px;
}

#contact ul#social-links li {
	float: left;
	margin-right: 10px;
}

#contact ul#social-links li:hover {
	opacity: 0.8;
}

/* ------- FOOTER STYLES ------- */

#footer {
	background: #272323;
	height: 106px;
	color: #eee;
}

#footer .inner {
	margin-bottom: 0;
}

#footer .column1, #footer .column2, #footer .column3 {
	width: 333px;
	float: left;
}

#footer .column1 {
	text-align: left;
}

#footer .column2 p {
	margin-top: 40px;
	text-align: center;
}

#footer .column3 p {
	margin-top: 40px;
	float: right ;
}

#agency-news ul#news li button.read {
	background: #e70031;
	padding: 7px;
	color: #fff;
	border: none;
	float: right;
	font-size: 12px;
}

#agencynews ul#news li button.read:hover {
	background: #c9012b;
}

#contact button.read {
	background: #444;
	padding: 7px;
	color: #fff;
	border: none;
	float: right;
	font-size: 12px;
	margin-right: 13px;
}

#contact button.read:hover {
	background: #666;
}