/*
// small - default
@media only screen and (max-width: 38.9em) {
// medium
@media only screen and (min-width: 40em) {
// large
@media only screen and (min-width: 64.063em) {
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection { 
  background: #fe57a1; 
  color: #fff; 
  text-shadow: none; 
}

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #4a4236;
}

a {
  color: #fe57a1;
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: #454e55;
  text-decoration: none;
}

a:visited {
  color: #fe57a1;
}

a:visited:hover {
  color: ##a6a8ab; 
}

a:visited:hover:after {
  background-color: #454e55; 
}

a img {
  border: 0;
}

.list-none li {
  list-style-type: none !important;
  margin-left: 0 !important;
}

h2 {
  color: #2c251d;
  font-size: 1.5em;
  font-weight: bold;
  width: 92%;
}

h3 {
  color: #2c251d;
  font-size: 1.375em;
  font-weight: bold;
  margin: 15px 0px;
  width: 92%;
}

h4 {
  color: #2c251d;
  font-size: 1.250em;
  font-weight: bold;
  margin: 15px 0px;
  width: 92%;
}

h5 {
  color: #2c251d;
  font-size: 1.125em;
  font-weight: bold;
  margin: 15px 0px;
  width: 92%;
}

h6 {
  color: #4a4236;
  font-size: 0.938em;
  font-weight: bold;
  margin: 15px 0px;
}

@media only screen and (min-width: 40em) {
  h2 {
    width: 41.5em;
  }
}

@media only screen and (min-width: 64.063em) {
  h2 {
    width: 40em;
  }
}


/* MQ BAR */
/*
#mq-bar {
  background: #000000;
  height: 5px;
}

@media only screen and (max-width: 38.9em) {
  #mq-bar {
    background: #7CFC00;
  }
}

@media only screen and (min-width: 40em) {
  #mq-bar {
    background: #FFCC11;
  }
}

@media only screen and (min-width: 64.063em) {
  #mq-bar {
    background: #FF6103;
  }
}
*/


/* LAYOUT LEVEL */
/* TOP NAV */

.top-nav {
  margin: 5px auto;
  width: 92%;
}


/* HEADER */

#masthead {
  border-bottom: 7px solid #eee;
  color: #57626b;
  margin: 0 auto;
}

#masthead h1 {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

#masthead #home {
  clear: both;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

#masthead h1 a {
  color: #454e55;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none !important;
}

@media only screen and (min-width: 40em) {
  #masthead {
    border-bottom: 7px solid #eee;
    color: #57626b;
    margin: 0 auto;
    padding: 25px 0;
    width: 43.75em;
  }

  #masthead h1 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
  }

  #masthead #home {
    float: left;
    margin: 0;
  }

  #masthead h1 a {
    cursor: pointer;
    color: #454e55;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none !important;
  }

}

#main-nav {
  margin-bottom: 5px;
  text-align: center;
}

#nav-ul:last-child {
  float: right;
}

@media only screen and (min-width: 40em) {
  #main-nav {
    float: right;
    width: 50%;
  }
}

#main-nav li {
  display: inline-block;
  width: 30%;
}

#main-nav li a {
  color: #a6a8ab;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none; !important
}

#main-nav li a.selected, #main-nav li a:hover {
  color: #fe57a1;
}


/* SITE */

#site {
  height: 100%;
  line-height: 1.65;
  margin: 0 auto 0;
  min-height: 500px;
  padding: 0;
  text-align: left;
  width: 100%;
}


/* PAGE CONTENT */

.page-title {
  margin: 5px auto;
  width: 92%;
}

.page-title h1 {
  color: #2c251d;
  font-size: 2em;
  font-weight: bold;
}

#page-content section {
  font-size: 1.5em;
  line-height: 1.35em;
  margin: 5px auto;
  width: 92%;
}

#page-content p {
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 40em) {
  #page-content section {
    width: 27.625em;
  }

  #page-content .page-title {
    width: 41.5em;
  }
}

@media only screen and (min-width: 64.063em) {
  #page-content section {
    width: 26.625em;
  }

  #page-content .page-title {
    width: 40em;
  }
}


/* FOOTER */

#footsie {
  border-top: 7px solid #eee;
  color: #B6B7B8;
  text-align: center;
  margin: 5px auto 5px auto;
  width: 92%;
}

@media only screen and (min-width: 40em) {
  #footsie {
    width: 41.5em;
  }
}

@media only screen and (min-width: 64.063em) {
  #footsie {
    width: 40em;
  }
}

.foot {
  margin: 5px 0 5px 0;
}

#footsie .copy {
  font-size: 0.75em;
}


/* CONTENT LEVEL ELEMENTS */
.bar-graph-label {
  display: block;
  margin-bottom: 5px;
  margin-right: 15px;
}

.bar-graph {
  background: #fe57a1;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0.5em;
  padding-right: 15px;
  text-align: right;
}

.bar-graph-10 {
  width: 95%;
}

.bar-graph-9 {
  width: 90%;
}

.bar-graph-8 {
  width: 85%;
}

.bar-graph-7 {
  width: 80%;
}

.bar-graph-6 {
  width: 75%;
}

.bar-graph-5 {
  width: 70%;
}

.bar-graph-4 {
  width: 65%;
}

@media only screen and (min-width: 40em) {

}

@media only screen and (min-width: 64.063em) {
  .bar-graph-label {
    display: block;
    width: inherit;
  }

  .bar-graph {
    display: inline-block;
    padding-right: 15px;
    text-align: right;
  }

  .bar-graph-10 {
    width: 65%;
  }

  .bar-graph-9 {
    width: 60%;
  }

  .bar-graph-8 {
    width: 55%;
  }

  .bar-graph-7 {
    width: 50%;
  }

  .bar-graph-6 {
    width: 45%;
  }

  .bar-graph-5 {
    width: 40%;
  }

  .bar-graph-4 {
    width: 35%;
  }
}