<main>
  <div class="pl-2 pr-2 column pt-6 pb-6" ng-controller="View1Ctrl">
    <p class="h2">{{stars * planets * earth * life * intelligence * civilizations * length * 1000}}</p>

    <input class="h3" ng-model="stars" placeholder="Stars?">
    <input class="h3" ng-model="planets" placeholder="Planets?">
    <input class="h3" ng-model="earth" placeholder="Earth?">
    <input class="h3" ng-model="life" placeholder="Life?">
    <input class="h3" ng-model="intelligence" placeholder="Intelligence?">
    <input class="h3" ng-model="civilizations" placeholder="Civilizations?">
    <input class="h3" ng-model="length" placeholder="Length?">
  </div>
  <div class="pl-2 pr-2 column pt-6 pb-6">
    When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
  </div>
</main>