<main>
  <section class="pl-2 pr-2 column pt-6 pb-6" ng-controller="View1Ctrl">
    <h1 class="h2">Drake Equation</h1>

    <section>
        <p class="h3">
        $$N = {R_* \centerdot f_p \centerdot n_e \centerdot f_l \centerdot f_i \centerdot f_c \centerdot L}$$
        <p>
    </section>

    <section>
        <p class="h2">{{stars * planets * earth * life * intelligence * civilizations * length * 1000 | number:0}}</p>
    </section>


    <section class="h3">
        <table>
        <tr>
        <td>
        <input type="number" ng-model="stars" min="0" max="100" placeholder="Stars?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="planets" min="0" max="1" placeholder="Planets?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="earth" min="0" max="100" placeholder="Earth?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="life" min="0" max="1" placeholder="Life?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="intelligence" min="0" max="1" placeholder="Intelligence?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="civilizations" min="0" max="1" placeholder="Civilizations?">
        </td>
        </tr>
        <tr>
        <td>
        <input type="number" ng-model="length" min="1" max="100000" placeholder="Length?">
        </td>
        </tr>
        </table>
    </section>
  </section>

</main>