<main>
  <section class="pl-2 pr-2 column pt-6 pb-6" ng-controller="View1Ctrl">
    <h1 class="h2">Drake Equation</h1>

    <section>
        <p class="h3">
        $$N = {R_* \centerdot f_p \centerdot n_e \centerdot f_l \centerdot f_i \centerdot f_c \centerdot L}$$
        <p>
    </section>

    <section>
        <p class="h2">{{stars * planets * earth * life * intelligence * civilizations * length * 1000 | number:0}}</p>
    </section>


    <section class="h3">
        <input type="number" ng-model="stars" ng-minlength="0" ng-maxlength="100" ng-required="" placeholder="Stars?">
        <input type="number" ng-model="planets" ng-minlength="0" ng-maxlength="1" ng-required="" placeholder="Planets?">
        <input type="number" ng-model="earth" ng-minlength="0" ng-maxlength="100" ng-required="" placeholder="Earth?">
        <input type="number" ng-model="life" ng-minlength="0" ng-maxlength="1" ng-required="" placeholder="Life?">
        <input type="number" ng-model="intelligence" ng-minlength="0" ng-maxlength="1" ng-required="" placeholder="Intelligence?">
        <input type="number" ng-model="civilizations" ng-minlength="0" ng-maxlength="1" ng-required="" placeholder="Civilizations?">
        <input type="number" ng-model="length" ng-minlength="1" ng-maxlength="100000" ng-required="" placeholder="Length?">
    </section>
  </section>

</main>