<!-- _HEAD -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> {{ page.title | default: site.name }} </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{ page.description | default: site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/b.css" type="text/css" title="default" >

  <!-- Favicons and Touch Device Icons -->
  <link rel="shortcut icon" href="//davecancode.com/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

  <!-- http://stackoverflow.com/a/14162208/298758 -->
  {% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{ css_name }}">
  {% endfor %}

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="{{ page.twitter_card | default: 'summary' }}" />
    <meta name="twitter:site" content="{{ page.twitter_site | default: '@davecancode' }}" />
    <meta name="twitter:title" content="{{ page.twitter_title | default: site.name }}" />
    <meta name="twitter:description" content="{{ page.twitter_description | default: site.description }}" />
    <meta name="twitter:image" content="{{ page.twitter_image | default: site.url | append: page.twitter_image_base | append: '/' | append: page.twitter_image_file | default: 'example.png' }}" />
    <meta name="twitter:player" content="{{ page.twitter_player | default: site.url | append: page.twitter_player_base | append: '/' | append: page.twitter_player_file | default: 'container.html' }}" />
    <meta name="twitter:player:width" content="{{ page.twitter_player_width | default: '480' }}" />
    <meta name="twitter:player:height" content="{{ page.twitter_player_height | default: '480' }}" />
</head>
