<!-- _HEAD -->
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> {{site.title}} </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/a.css">
  <!--<link rel="stylesheet" href="/css/a.min.css">-->

  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!-- Favicons and Touch Device Icons -->
  <!-- https://favicon.io/favicon-converter/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
