/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/**
 * Add your site styles here. Break things out to additional partials if you'd like
 * and add them in import.scss
 */

body, html {
  height: 100%;
  position: relative;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.bt {
 border-top: 1px solid #ddd;
}

.bg-dk {
  background: #111;
  color: #f3f3f3;
}

.bg-li {
  color: #a2d7e4;
  background: #1e5a69;
  -webkit-transition:background .4s;
  transition:background .4s;
}

.shade {
  background: rgba(0,0,0,0.3);
}

/*.un-saturate {
  -webkit-filter:grayscale(1);
}*/

.banner-img {
  background: url(//davecancode.com/blog/images/earth.jpg) no-repeat center center;
  background-size: cover;
}

a, .tl, .tl:link, .tl:visited, .tl:hover, .tl:active, .tl:focus {
  text-decoration: none;
  color: #444;
}

a:hover {
  background: #a2d7e4;
  color: #1e5a69;
}

a.dk-bg {
  background: none;
  color: #ddd;
}

.column {
  max-width: 640px;
  margin: 0 auto;
}

.opacity-hover {
  -webkit-transition:opacity .4s;
  opacity: 1;
}

.opacity-hover:hover {
  opacity: 0.8;
  -webkit-transition:opacity .4s;
}