/*
// Include all partials you want compiled to <FILE_NAME>.css. You don't need to include the _ (underscore). Hooray.
*/

/*
  Many styles lovingly borrowed from: http://nkd.cc/css/i.css
*/

@import "variables";

$fg-color: #1B58B8;
$bg-color: #1FAEFF;
$highlight-fg-color: #16499A;
$highlight-bg-color: #35B6FF;


@import "queries";
@import "normalize";

@import "grid";
@import "type";
@import "styles";

