/*
// Include all partials you want compiled to <FILE_NAME>.css. You don't need to include the _ (underscore). Hooray.
*/

/*
  Many styles lovingly borrowed from: http://nkd.cc/css/i.css
*/

@import "variables";

$fg-color: #FF2E12;
$bg-color: #B81B1B;
$highlight-fg-color: #BF3232;
$highlight-bg-color: #9E1716;


@import "queries";
@import "normalize";

@import "grid";
@import "type";
@import "styles";

