/*
// Include all partials you want compiled to <FILE_NAME>.css. You don't need to include the _ (underscore). Hooray.
*/

/*
  Many styles lovingly borrowed from: http://nkd.cc/css/i.css
*/

@import "variables";

$fg-color: #E56C19;
$bg-color: #F3B200;
$highlight-fg-color: #F7C94D;
$highlight-bg-color: #CE6116;


@import "queries";
@import "normalize";

@import "grid";
@import "type";
@import "styles";

