/*
// Include all partials you want compiled to <FILE_NAME>.css. You don't need to include the _ (underscore). Hooray.
*/

/*
  Many styles lovingly borrowed from: http://nkd.cc/css/i.css
*/

@import "variables";

$fg-color: #008299;
$bg-color: #00A0B1;
$highlight-fg-color: #FE57A1;
$highlight-bg-color: #FFE9EC;


@import "queries";
@import "normalize";

@import "grid";
@import "type";
@import "styles";

