---
layout: dcc
title: "Sample Twitter/X Card Directory"
description: "A directory of sample Twitter/X player cards."
twitter_card: "summary_large_image"
twitter_title: "Sample Twitter/X Card Directory"
twitter_description: "A directory of sample Twitter/X player cards."
twitter_image_base: "/about/img"
twitter_image_file: "7627.png"
twitter_player: "https://spaces.monaverse.com/spaces/UL7SB1RadYkk"
---

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
  body { 
    font-family: 'Open Sans', sans-serif; 
  }
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
  }
  li {
    margin: 100px 0; /* Add some margin for spacing */
  }
  li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
  }
  li a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  #webgl {
      position: absolute;
      top: 0;
      left: 0;
      outline: none;
  }
  #container {
    position: relative;
  }
  #page-content {
    position: inherit;
  }
  footer {
    position: inherit;
  }
</style>

<main id="container">
  <div id="webgl"></div>
  <div id="page-content" class="pl-2 pr-2 column pt-6">
    <h1 class="h2">Twitter Cards</h1>
    
    <p>
      This is a directory of sample Twitter Cards.
    </p>

    <p>
      Each one aims to demonstrate a different concept or experience.
    </p>

    <p>
      Some demonstrate what an existing experience could be like if the brand implements the correct meta tags.
    </p>

    <p>
      Analyze these pages or try your own using my <a href="https://twitter-cards.davecancode.com/?url=https%3A%2F%2Fdavecancode.com%2Fx-twitter-cards%2F" target="_blank">Twitter Card Validator</a> tool.
    </p>

    <p>
      Learn how to make your own interactive experiences with my guide <a href="https://davecancode.gumroad.com/l/unlocking-twitter-player-cards" target="_blank">Unlocking Twitter/X Player Cards</a>.
    </p>

    <ul>
      {% assign sorted_pages = site.pages | sort: 'title' %}
      {% for page in sorted_pages %}
        {% if page.path contains 'x-twitter-cards/' and page.path != 'x-twitter-cards/index.html' %}
          <li>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
            <a href="{{ page.url }}">
              <p>Try it! 👇</p>
              {% if page.twitter_image_base and page.twitter_image_file %}
                <img src="{{ page.twitter_image_base }}/{{ page.twitter_image_file }}" alt="{{ page.title }}">
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>Examples that just work</h2>
    <p>These are great references.</p>
    <p>They've been set up with care and thought around their meta tags.</p>

    <ul>
      <li>
        <h3>Suno: AI Music Generator - audio player experience</h3>
        <p><a href="https://twitter-cards.davecancode.com/?url=https%3A%2F%2Fsuno.com%2Fsong%2F47e25cc1-2671-4a3c-8013-dd59fb19382b" target="_blank">https://suno.com/song/47e25cc1-2671-4a3c-8013-dd59fb19382b</a></p>
      </li>
    </ul>

  </div>
  

</main>
